*{
    margin: 0;
    padding: 0;
    font-family: 'Tiro Telugu', serif;
}

.nav{
    font-family: 'Hind Siliguri', sans-serif;
    background-color: hsla(0,0%,57.6%,.1);
    backdrop-filter: blur(20px);
    box-shadow: 0px 0px 5px 0px #000;
    font-size: 1.1rem;
}

.logo{
    width: 9vw;
    height: 10vh;
    background-image: url("./images/logo.enc");
    background-size: 100% 100%;
    margin-right: 70px;
}

.nav-link{
    color: #000;
}

.mainNav{
    margin-left: 70px;
}

.dropdown{
    z-index: 1;
}

.mainul{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.aboutHead{
    text-align: center;
    margin-top: 30px;
    font-size: 40px;
    padding: 10px 0px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.Aboutinfo{
    margin: 15px 50px 30px 50px;
    font-size: 1rem;
}

.TeamHead{
    margin: 40px 0px;
    text-align: center;
}

.Partners{
    margin: 30px 20px 0px 20px;
    height: 30vh;
    display: flex;
    justify-content: space-around;
}

.row1{
    width: 50%;
    display: flex;
    justify-content: space-around;
}

.row2{
    width: 50%;
    display: flex;
    justify-content: space-around;
}

.company1{
    background-color: pink;
    height: 80%;
    width: 25%;
    margin: 10px;
}

.MotivesHead{
    margin: 30px 0px;
    text-align: center;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 10px 0px;
}

.motives{
    display: flex;
    justify-content: space-around;
    height: 40vh;
}

.motive{
    width: 30%;
    margin: 10px 0px;
}

.ValuesHead{
    margin: 30px 0px;
    text-align: center;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 10px 0px;
}

.values{
    display: flex;
    justify-content: space-around;
}

.valuesImage{
    width: 40vw;
    height: 35vh;
    background-image: url("./images/values.jpg");
    background-size: 100% 100%;
}

.valuepoints{
    width: 40vw;
}

.valueul{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.valueli{
    font-size: 25px;
    list-style: none;
}

.socialmediaLinks{
    margin: 30px 0px;
    text-align: center;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 10px 0px;
    margin: 50px 0px 0px 0px;
}

.links{
    /* background-color: green; */
    display: flex;
    justify-content: center;
    width: 98.5vw;
    margin: 50px 0px 20px 0px;

}

.Linkul{
    height: 20vh;
    width: 60vw;
    margin: 0px 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.Linkli{
    width: 40%;
    height: 10vh;
    text-align: center;
    list-style: none;
    cursor: pointer;
}

.fa{
    background-color: #000;
    color: #fff;
    padding: 18px;
    font-size: 25px;
    border-radius: 50%;
}

.fa:hover{
    background-color: #fff;
    color: #000;
    transform: scaleX(1.05);
    box-shadow: 0 5px 4px rgba(0, 0, 0, 0.5);
    transition: all 0.2s ease-in-out;
}

#vision{
    background-image: url("./images/vision.png");
    background-size: 100% 100%;
}

#mission{
    background-image: url("./images/mission.png");
    background-size: 100% 100%;
}

#strategy{
    background-image: url("./images/mission.png");
    background-size: 100% 100%;
}

@media screen and (max-width:1000px){
    .mainNav{
        margin: 0;
    }
    .Partners{
        height: 16vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 40vh
    }

    .row1{
        height: 19vh;
        width: 100%;
    }

    .row2{
        height: 19vh;
        width: 100%;
    }

    .company1{
        height: 80%;
    }

    .Aboutinfo{
        margin: 15px 15px;
    }

    .values{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 60vh;
    }

    .valuesImage{
        width: 60vw;
    }

    .valuepoints{
        width: 80vw;
        text-align: center;
    }


}

@media screen and (max-width:600px) {

    .TeamHead{
        font-size: 25px;
    }

    .company1{
        width: 100%;
    }

    .socialmediaLinks{
        font-size: 21px;
    }

    .Linkul{
        width: 100%;
    }

    .fa{
        font-size: 20px;
        padding: 10px;
    }

    .motive{
        height: 70%;
    }
    

}