*{
    padding: 0;
    margin: 0;
}

body{
    font-family:'Havelock Titling';
}

.nav{
    background-color: hsla(0,0%,57.6%,.1);
    backdrop-filter: blur(20px);
    box-shadow: 0px 0px 5px 0px #000;
    font-size: 1.1rem;
}

.logo{
    width: 9vw;
    height: 10vh;
    background-image: url("./images/logo.enc");
    background-size: 100% 100%;
    margin-right: 70px;
}

.nav-link{
    color: #000;
    font-size: 14.5px;
}

.bolt{
    font-size: 30px;
}

.mainNav{
    margin-left: 70px;
}

.dropdown-menu{
    z-index: 1;
}   

.mainul{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navbar-toggler{
    background-image: url("./images/menubar.png");
    background-size: 100% 100%;
}

.sliderButton{
    border: none;
}

.sliderClass{
    height: 50vh;
}

.carousel-item{
    height: 50vh;
}

.carouselButton{
    width: 7vw;
    background-color: none;
}

.MainContent{
    margin-top: 20px;
}


.MainHeading{
    text-align: center;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 10px 0px;
    margin: 60px 0px;
    font-size: 30px;
}



.cardDivisions{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    height: 100%;
}

.card{
    height: 90%;
    width: 22vw;
    cursor: pointer;
    box-shadow: 0px 3px 4px 4px rgba(7, 6, 6, 0.7);
}

.card:hover{
    transition: all 0.5s ease-in-out;
    transform: scale(1.02);
    box-shadow: 0px 3px 4px 4px rgba(7, 6, 6, 0.7);
}


#estate:hover{
    background-color: hsla(125, 81%, 40%, 0.447);
}

#design:hover{
    background-color: hsla(192, 82%, 40%, 0.445);
}

#energy:hover{
    background-color: hsla(0, 90%, 51%, 0.35);
}

#synergy:hover{
    background-color: rgba(128, 128, 128, 0.450);
}

.card-img-top{
    height: 35vh;
    width: 100%;
    border: 2px solid black;
    cursor: pointer;
}


.card-title {
    display: flex;
    justify-content: center;
    font-weight: 600;
    margin: 8px 0px;
}

.card-text {
    margin: 0px;
    display: flex;
    justify-content: center;
    margin: 0px 5px;
    font-size: 12px;
}

.card-body {
    margin: 0;
    padding: 0;
}

.button{
    text-align: center;
    margin: 10px 0px;
}


.footer{
    background-color: #000;
    color: #fff;
    margin: 30px 0px 0px 0px;
    height: 20vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 12px;
}

.footer p:hover{
    text-decoration: underline;
    cursor: pointer;
}


/* Collabrations slider starts from here */

.collabHeading{
    text-align: center;
    margin: 70px 0px 70px 0px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 10px 0px;
    font-size: 30px;
}

.totalCollabration{
    display: flex;
    justify-content: space-around;
    margin-bottom: 100px;
}


.collabrations{
    width: 40%;
    margin-left: 30px;
}

.reviews{
    width: 40%;
    margin-left: 30px;
}

.slider-container {
    width: 100%;
    overflow: hidden;
    height: 45vh;
    margin-top: 30px;
    box-shadow: 0px 4px 20px 2px rgba(39, 38, 38, 0.588);
}

.slider-track {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.sliding {
    width: 100%;
    box-sizing: border-box;
    flex: 0 0 auto;
    color: #000;
    padding: 20px;
    text-align: center;
    height: 45vh;
}


/* Style for better visibility */


@media screen and (max-width:1200px) {

    .sliderButton{
        height: 65%;
    }

    .mainNav{
        margin: 0;
    }
    
    .sliderClass{
        height: 35vh;
    }

    .carousel-item{
        height: 40vh;
    }

    .card{
        width: 22vw;
        height: 62vh;
    }

    .sliding{
        width: 80%;
    }

    .totalCollabration{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .collabrations{
        width: 80%;
        margin: 0;
    }

    .sliding{
        width: 90%;
        margin: 0;
        padding: 0;
    }

    .reviews{
        width: 80%;
    }

    #reviews{
        width: 100%;
    }


}

@media screen and (max-width:600px) {

    .logo{
        width: 20vw;
    }

    .sliderClass{
        height: 20vh;

    }

    .sliderButton{
        height: 60%;
    }

    .carousel-item{
        height: 20vh;
    }


}

@media screen and (max-width:800px) {

    .carousel-item{
        height: 30vh;
    }

    .MainHeading{
        margin-top: 80px;
        margin-bottom: 40px;
        border: 1px solid black;
    }

    .sliderClass{
        height: 20vh;
    }

    
    .cardDivisions{
        display: flex;
        flex-direction: column;
    }

    .card{
        height: 95%;
        width: 45%;
        margin: 20px 0px;
    }

}

@media screen and (max-width:450px) {
    .sliderClass{
        height: 25vh;
    }

    .card{
        width: 70%;
    }
}

@media screen and (max-width:950px) {

    .MainHeading{
        font-size: 22px;
    }

    .collabHeading{
        font-size: 18px;
    }

    .footer{
        display: flex;
        flex-direction: column;
        height: 36vh;
        font-size: 15px;
    }

    .footer p{
        padding: 5px;
        text-align: center;
    }

    .card-title{
        font-size: 20px;
    }

    #reviews{
        font-size: 13px;
    }

    .card-text{
        font-size: 12px;
    }
    
}