*{
    padding: 0;
    margin: 0;
}


.navbar{
    border-bottom: 1px solid black;
    font-family: 'Avenir Light';
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 98.5vw;
}



.logodiv{
    width: 18%;
    height: 12vh;
    margin-left: 20px;
}

.logo{
    background-image: url("./images/logo.enc");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}



.navlinks{
    display: flex;
    align-items: center;
    justify-content: end;
    list-style: none;
    width: 100%;
}

.nav-link{
    font-size: 17px;
    color: #000;
    text-decoration: none;
    margin: 0px 30px;
}


/* Here */


.energyheading{
    font-size: 70px;
    padding: 50px 0px 0px 50px;
    color: rgb(23, 66, 100);
    height: 80vh;
    font-family: "ailreon";
}

.estateheading{
    background-image: url("./images/estateopen.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: start;
    align-items: center;
    color: white;
}

.vahead{
    width: 30vw;
    height: 12vh;
    background-image: url("./images/vlogo-1.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin-top: -50px;
    margin-left: -20px;
}

#estateopen{
    background-image: url("./images/estateopen.jpg");
}

.services{
    background-color: rgb(22, 66, 100);
    padding-bottom: 80px;
}

.servicesheading{
    color: #fff;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    padding-top: 80px;
}

.hheading{
    background-image: url("./images/estateback.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}



.smallinfo{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
}

.servicecategory{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 90vh;
    padding-top: 50px;
}

.pAp{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(./images/pAp.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 50%;
    height: 15vh;
    margin: 0 auto;
    margin-top: 90px;
}


.servicename{
    color: white;
    font-size: 30px;
}

.getintouch{
    background-color: rebeccapurple;
}

.serviceimage{
    height: 60%;
    width: 50%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    cursor: pointer;
}

#solar{
    background-image: url("./images/solarenergy.avif");
}

#land{
    background-image: url("./images/land.avif");
}

#estho{
    background-image: url("./images/estateopen.jpg");
}

#lines{
    background-image: url("./images/power-transmission.jpg");
}

#hybrid{
    background-image: url("./images/windenergy.avif");
}

#design{
    background-image: url("./images/design.png");
}

#preeng{
    background-image: url("./images/preeng.avif");
}

#tel{
    background-image: url("./images/telecom.avif");
}

#civwor{
    background-image: url("./images/civwor.avif");
}

.mission{
    padding-top: 50px;
    background-color: rgb(99, 73, 214);
    height: 120vh;
}

.imagediv{
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.missionimage{
    margin: 60px 0px 30px 0px;
    height: 100%;
    width: 65%;
    background-image: url("./images/missionbulb.avif");
    background-repeat: no-repeat;
    background-size: 100% 100%;

}

.serinf{
    background-color: rgba(7, 6, 6, 0.3);
    height: 90%;
    display: flex;
    align-items: center;
    display: none;
    color: white;
    font-size: 22px;
    margin: 10px 20px 0px 20px;
}

.serviceimage:hover .serinf{
    display: flex;
}

.missionheading{
    text-align: center;
    color: white;
    font-size: 22px;
    font-family: 'Montserrat', sans-serif;
}

.missioninfo{
    text-align: center;
    color: white;
    font-size: 40px;
}

.vision{
    height: 80vh;
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.visioninfo{
    height: 30%;
    width: 40%;
}

.visionhead{
    color: rgb(22, 66, 100);
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
}

.visionquote{
    font-size: 18px;
    padding-top: 20px;
}

.valueli{
    text-decoration: none;
    list-style: none;
    margin: 5px 0px;
    font-size: 18px;
}

.visionimage{
    width: 40%;
    height: 70%;
    background-image: url("./images/pottery.avif");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}


.partners{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0px 0px 0px;
}

.partner{
    height: 80vh;
    width: 30%;
}

.partnerimage{
    height: 70%;
    background-image: url("./images/ch.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin: 0px 30px;
}

.partnername{
    text-align: center;
    font-size: 22px;
    padding: 15px 0px;
    color: rebeccapurple;
}

.Linkli{
    list-style: none;
    font-size: 30px;
}


.partnerrole{
    font-size: 18px;
    text-align: center;
}

.sliding {
    overflow: hidden;
    width: 100%;
    border: 2px solid rgb(22, 66, 100);
  }
  
  .slider-wrapper {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }
  
  .slider-item {
    min-width: 100vw;
    box-sizing: border-box;
    padding: 20px;
    text-align: center;
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

.estpara{
    color: #fff;
    font-size: 30px;
}

.estimg{
    height: 90%;
}

.about{
    height: 90vh;
    padding: 10px 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.aboutcontainer{
    margin: 30px 0px 5px 0px;
}

.aboutimage{
    width: 40%;
    height: 93%;
    background-image: url("./images/trees.avif");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.mainabout{
    width: 50%;
}

.abouthead{
    font-size: 50px;
    text-align: center;
    color: rgb(22, 66, 100);
}

.aboutname{
    text-align: center;
    font-size: 20px;
    padding: 20px 0px;
}

.possibilities{
    height: 80vh;
    background-color: rgb(22, 66, 100);
    padding: 100px 0px 0px 100px;
}

.pheading{
    font-size: 60px;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

.pinfo{
    color: white;
    font-family: 'Montserrat', sans-serif;
    margin: 20px 0px 0px 0px;
    width: 90%;
}


.explore:hover{
    background-color: green;
    cursor: pointer;
}

.categoryimage{
    width: 40%;
}

#power{
    background-image: url("https://images.unsplash.com/photo-1552862750-746b8f6f7f25?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTB8fGxpZ2h0JTIwYnVsYnxlbnwwfHwwfHx8MA%3D%3D");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin: 15px 50px 15px 15px;
}

#techno{
    background-image: url("https://images.unsplash.com/photo-1488590528505-98d2b5aba04b?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin: 15px 50px 15px 15px;
}

#energy{
    background-image: url("https://images.unsplash.com/photo-1613665813446-82a78c468a1d?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mjh8fGVuZXJneXxlbnwwfHwwfHx8MA%3D%3D");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin: 15px 50px 15px 15px;
}

#estate{
    background-image: url("https://images.unsplash.com/photo-1580587771525-78b9dba3b914?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nnx8ZXN0YXRlfGVufDB8fDB8fHww");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin: 15px 50px 15px 15px;
}

.solarbutton{
    background-color: rgb(99, 73, 214);
    padding: 15px 20px;
    font-size: 18px;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 100px 5px 70px 5px;
    cursor: pointer;
    border-radius: 16px;
    font-family: 'Avenir Light';
}

.collabrations{
    background-color: #000;
    color: white;
    display: flex;
    height: 50vh;
    justify-content: space-around;
    align-items: center;
}

.company1{
    width: 25%;
    height: 50%;
}


#axis{
    background-image: url("./images/chanel.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#tata{
    background-image: url("./images/tata\ power.webp");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#karvy{
    background-image: url("./images/karvy.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}



.aboutdiv{
    height: 100vh;
    background-image: url("./images/solarenergy.avif");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.aboutheading{
    color: red;
    font-size: 70px;
    width: 70%;
    margin: 80px 0px 0px 200px;
    text-align: center;
}

.aboutbutton{
    text-align: center;
}


.query{
    background-color: #000;
    height: 80vh;
}

.queryhead{
    color: red;
    text-align: center;
    padding-top: 60px;
    font-size: 50px;
}

.mainquery{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 70%;
}

.input{
    outline: none;
    margin: 5px 0px;
    width: 70%;
    padding: 12px;
    background: transparent;
    color: white;
    border: 1.5px solid white;
}

.submitbutton{
    margin-top: 10px;
    background-color: white;
    color: black;
    padding: 10px 30px;
}

.footer{
    background-color: #000;
    color: #fff;
    height: 20vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 18px;
    font-family: 'Avenir Light';
}

.footer p:hover{
    text-decoration: underline;
    cursor: pointer;
}


#partner1{
    background-color: wheat;
    background-image: url("./images/member.png");
}


/* Style for better visibility */



@media screen and (max-width:950px) {

    .energyheading{
        height: 60vh;
    }

    .navlinks{
        margin: 10px;
    }

    .logo{
        width: 30vw;
    }

    .nameheading{
        margin: 40px 0px 0px 40px;
        font-size: 40px;
    }

    .aboutheading{
        font-size: 40px;
        margin: 40px 0px 0px 60px;
    }

    .categoryname{
        font-size: 25px;
    }

    .query{
        height: 110vh;
    }

    .input{
        width: 85%;
    }

    #power{
        width: 70%;
        margin: 0px;
    }

    #energy{
        width: 70%;
        margin: 0px;
    }

    #estate{
        width: 70%;
        margin: 0px;
    }

    #techno{
        width: 70%;
        margin: 0px;
    }


    .footer{
        display: flex;
        flex-direction: column;
        height: 36vh;
        font-size: 15px;
    }

    .mainli{
        font-size: 12px;
    }

    .mainul{
        width: 90%;
    }

    .footer p{
        padding: 5px;
        text-align: center;
    }
    
}


@media screen and (max-width:600px) {

    .energyheading{
        font-size: 40px;
    }

    .serviceimage, #epc{
        width: 80%;
    }

    .mission{
        background-color: red;
        height: 100vh;   
    }

    .missioninfo{
        font-size: 25px;
    }

    .vision{
        margin-top: 0px;
    }

    .visionquote{
        font-size: 15px;
    }

    .abouthead{
        font-size: 30px;
    }

    .team{
        height: 80vh;
    }

    .teamheading{
        font-size: 40px;
    }

    .partnerimage{
        height: 40%;
        width: 30vw;
        margin: 0px;
    }

    .partnername{
        font-size: 20px;
    }

    .partnerrole{
        font-size: 15px;
    }

    .about{
        height: 110vh;
    }
    
    .aboutimage{
        height: 50%;
        width: 45%;
    }
    
    .abouthead{
        font-size: 25px;
    }

    .aboutname{
        font-size: 18px;
    }

    .solarbutton{
        margin: 10px 0px;
}

    .aboutinfo{
        width: 100%;
        font-size: 13px;
        margin-left: 10px;
    }

    .possibilities{
        padding: 40px 0px 0px 30px;
        height: 62vh;
    }

    .pheading{
        font-size: 32px;
    }
}