*{
    padding: 0;
    margin: 0;
}


.logonav{
    background-color: black;
    height: 18vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo{
    height: 70%;
    width: 9%;
    background-image: url("./images/logo.enc");
    background-size: 100% 100%;
}


.mainnavbar{
    color: white;
    background-color: #b10404;
    width: 98.3vw;
    height: 10vh;
    display: flex;
    justify-content: center;
}

.mainul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 70%;
    height: 100%;
}

.mainli{
    list-style: none;
    font-size: 20px;
    cursor: pointer;
}

.mainli:hover{
    color: green;
}


.namediv{
    background-image: url("https://images.unsplash.com/photo-1609253925210-c64083102ae5?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTV8fGZhbWlseSUyMHBob3RvfGVufDB8fDB8fHww");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
}

.colordiv{
    background-color: rgba(255, 255, 255, 0.373);
    position: absolute;
    height: 100%;
    width: 100%;
}

.nameheading{
    color: red;
    font-size: 90px;
    width: 70%;
    margin: 80px 0px 0px 200px;
}

.categories{
    background-color: #000;
    padding-top: 50px;
}


.subcategory{
    height: 60vh;
    display: flex;
    justify-content: space-between;
    padding: 30px;
    background-color: #000;
}

.categoryinfo{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.categoryname{
    text-align: center;
    font-size: 40px;
    color: red;
}

.explore{

    background-color: red;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 10%;
}

.explore:hover{
    background-color: green;
    cursor: pointer;
}

.categoryimage{
    width: 40%;
}

#power{
    background-image: url("https://images.unsplash.com/photo-1552862750-746b8f6f7f25?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTB8fGxpZ2h0JTIwYnVsYnxlbnwwfHwwfHx8MA%3D%3D");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin: 15px 50px 15px 15px;
}

#techno{
    background-image: url("https://images.unsplash.com/photo-1488590528505-98d2b5aba04b?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin: 15px 50px 15px 15px;
}

#energy{
    background-image: url("https://images.unsplash.com/photo-1613665813446-82a78c468a1d?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mjh8fGVuZXJneXxlbnwwfHwwfHx8MA%3D%3D");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin: 15px 50px 15px 15px;
}

#estate{
    background-image: url("https://images.unsplash.com/photo-1580587771525-78b9dba3b914?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nnx8ZXN0YXRlfGVufDB8fDB8fHww");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin: 15px 50px 15px 15px;
}

.collabrations{
    background-color: #000;
    color: white;
    display: flex;
    height: 50vh;
    justify-content: space-around;
    align-items: center;
}

.company1{
    width: 25%;
    height: 50%;
}


#axis{
    background-image: url("./images/chanel.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#tata{
    background-image: url("./images/tata\ power.webp");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#karvy{
    background-image: url("./images/karvy.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}



.aboutdiv{
    height: 100vh;
    background-image: url("./images/solarenergy.avif");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.aboutheading{
    color: red;
    font-size: 70px;
    width: 70%;
    margin: 80px 0px 0px 200px;
    text-align: center;
}

.aboutbutton{
    text-align: center;
}


.query{
    background-color: #000;
    height: 80vh;
}

.queryhead{
    color: red;
    text-align: center;
    padding-top: 60px;
    font-size: 50px;
}

.mainquery{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 70%;
}

.input{
    outline: none;
    margin: 5px 0px;
    width: 70%;
    padding: 12px;
    background: transparent;
    color: white;
    border: 1.5px solid white;
}

.submitbutton{
    margin-top: 10px;
    background-color: white;
    color: black;
    padding: 10px 30px;
}

.footer{
    background-color: #000;
    color: #fff;
    margin: 30px 0px 0px 0px;
    height: 20vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 12px;
    font-family:'Havelock Titling';
}

.footer p:hover{
    text-decoration: underline;
    cursor: pointer;
}




/* Style for better visibility */



@media screen and (max-width:950px) {

    .logo{
        width: 20%;
    }

    .nameheading{
        margin: 40px 0px 0px 40px;
        font-size: 40px;
    }

    .aboutheading{
        font-size: 40px;
        margin: 40px 0px 0px 60px;
    }

    .categoryname{
        font-size: 25px;
    }

    .query{
        height: 110vh;
    }

    .input{
        width: 85%;
    }

    #power{
        width: 70%;
        margin: 0px;
    }

    #energy{
        width: 70%;
        margin: 0px;
    }

    #estate{
        width: 70%;
        margin: 0px;
    }

    #techno{
        width: 70%;
        margin: 0px;
    }


    .footer{
        display: flex;
        flex-direction: column;
        height: 36vh;
        font-size: 15px;
    }

    .mainli{
        font-size: 12px;
    }

    .mainul{
        width: 90%;
    }

    .footer p{
        padding: 5px;
        text-align: center;
    }
    
}