*{
    margin: 0;
    padding: 0;
}


.services{
    background-color: yellow;
    padding-bottom: 80px;
}

.energyheading{
    font-size: 70px;
    padding: 50px 0px 0px 50px;
    color: rebeccapurple;
    height: 80vh;
    font-family: 'Montserrat', sans-serif;
}

.servicesheading{
    color: rebeccapurple;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    padding-top: 80px;
}


.smallinfo{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.servicecategory{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 90vh;
    padding-top: 50px;
}   

.servicename{
    color: rebeccapurple;
    font-size: 30px;
}

.getintouch{
    background-color: rebeccapurple;
}

.serviceimage{
    background-color: aqua;
    height: 60%;
    width: 50%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}


#solar{
    background-image: url("./images/solarenergy.avif");
}

#TransmissionLines{
    background-image: url("./images/power-transmission.jpg");
}

#hybrid{
    background-image: url("./images/windenergy.avif");
}

#epc{
    background-image: url("./images/epc.jpg");
}


.mission{
    padding-top: 50px;
    background-color: rgb(99, 73, 214);
    height: 120vh;
}

.imagediv{
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.missionimage{
    margin: 60px 0px 30px 0px;
    height: 100%;
    width: 65%;
    background-image: url("./images/missionbulb.avif");
    background-repeat: no-repeat;
    background-size: 100% 100%;

}

.missionheading{
    text-align: center;
    color: white;
    font-size: 22px;
    font-family: 'Montserrat', sans-serif;
}

.missioninfo{
    text-align: center;
    color: white;
    font-size: 40px;
}


.vision{
    height: 80vh;
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.visioninfo{
    height: 30%;
    width: 40%;
}

.visionhead{
    color: rebeccapurple;
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
}

.visionquote{
    font-size: 38px;
    padding-top: 20px;
}

.visionimage{
    background-color: pink;
    width: 40%;
    height: 70%;
    background-image: url("./images/pottery.avif");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}


.team{
    background-color: yellow;
    height: 100vh;
    padding: 20px 0px 0px 0px;
}

.teamheading{
    color: rebeccapurple;
    text-align: center;
    padding-top: 30px;
    font-family: 'Montserrat', sans-serif;
    font-size: 60px;
}

.partners{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0px 0px 0px;
}

.partner{
    height: 80vh;
    width: 30%;
}

.partnerimage{
    height: 70%;
    background-image: url("./images/ch.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin: 0px 30px;
}

.partnername{
    text-align: center;
    font-size: 22px;
    padding: 15px 0px;
    color: rebeccapurple;
}

.partnerrole{
    font-size: 18px;
    text-align: center;
}

.about{
    height: 90vh;
    padding: 10px 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.aboutcontainer{
    margin: 30px 0px 5px 0px;
}

.aboutimage{
    width: 40%;
    height: 93%;
    background-image: url("./images/trees.avif");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.mainabout{
    width: 50%;
}

.abouthead{
    font-size: 50px;
    text-align: center;
    color: rebeccapurple;
}

.aboutname{
    text-align: center;
    font-size: 20px;
    padding: 20px 0px;
}


#cables{
    background-image: url("./images/cables.avif");
}

#drone{
    background-image: url("./images/drone.avif");
}

#prodesign{
    background-image: url("./images/designing.avif");
}

#aviation{
    background-image: url("./images/aviation.avif");
}


#land{
    background-image: url("./images/land.avif");
}

#housing{
    background-image: url("./images/house.avif");
}

#villa{
    background-image: url("./images/villa.avif");
}

#brokerage{
    background-image: url("./images/brokerage.avif");
}

#advisors{
    background-image: url("images/advisors.avif");
}

#agreement{
    background-image: url("./images/Non\ disclosure\ agreement.avif");
}





/* Old css code */

.navLinks{
    width: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.synHead{
    margin: 20px 0px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

#energyhead{
    color: red;
}

.syninfo{
    font-size: 12px;
}

.Energyintro{
    margin: 30px 0px;
    display: flex;
    justify-content: space-around;
    height: 150vh;
    align-items: center;
}

.energyphoto{
    width: 30%;
    height: 40%;
    background-image: url("./images/energy.tif");
    background-repeat: no-repeat;
    background-size: 90% 90%;
}


.energycategories{
    width: 40%;
    height: 100%;
}


.catergory1{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 25%;
    margin: 60px 0px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

#energy{
    color: red;
}

#estate{
    color: green;
}

#synergy{
    color: grey;
}

#design{
    color: rgb(0, 195, 255);
}

.catergory1:hover{
    background-color: hsla(0, 81%, 40%, 0.3);
}


#estateCategory:hover{
    background-color: hsla(125, 81%, 40%, 0.247);
}

#designCategory:hover{
    background-color: hsla(192, 82%, 40%, 0.445);
}

#synergyCategory:hover{
    background-color: rgba(128, 128, 128, 0.450);
}


.catphoto{
    width: 12%;
    height: 20%;
    background-size: 100% 100%;   
}

#windSvg{
    background-image: url("./images/windenergysvg.png");
}

#solarSvg{
    background-image: url("./images/solarenergysvg.png");
}

#electricSvg{
    background-image: url("./images/electricenergysvg.png");
}

#landSvg{
    background-image: url("./images/landsvg.png");
}

#housingSvg{
    background-image: url("./images/housingsvg.png");
}

#villaSvg{
    background-image: url("./images/villasvg.png");
}

#cablesSvg{
    background-image: url("./images/cablesvg.png");
}

#droneSvg{
    background-image: url("./images/dronesvg.png");
}

#projectSvg{
    background-image: url("./images/projectsvg.png");
}

#advisorsSvg{
    background-image: url("./images/advisorssvg.png");
}

#agreementSvg{
    background-image: url("./images/agreementsvg.png");
}

#synergyphoto{
    background-image: url("./images/synergysvg.jpg");
}

.catinfo{
    width: 70%;
}

.description{
    font-size: 15px;
}

.synCategories{
    margin: 50px 0px;
}

.divOne{
    display: flex;
    justify-content: space-around;
    margin: 80px 0px ;
}

.divTwo{
    display: flex;
    justify-content: space-around;
}

.card{
    width: 25vw;
    cursor: pointer;
    border: 3px solid black;
    box-shadow: 0px 3px 4px 4px rgba(7, 6, 6, 0.3);
}


.card-img-top{
    height: 22rem;
    min-width: 10rem;
    border: 2px solid black;
}



.card:hover {
    transform: scale(1.02);
    box-shadow: 0px 3px 4px 4px rgba(7, 6, 6, 0.7);
    transition: all 0.5s ease-in-out;
  }

.card:hover{
    background-color: hsla(125, 81%, 40%, 0.447);
}
  

#cardtitle{
    color: green;
    text-align: center;
}


.knowButton{
    text-align: center;
    margin-top: 10px;
}

.knowButton button{
    font-size: 13px;
}

#transButton{
    background-color: hsla(0, 81%, 40%, 0.3);
}

#solarButton{
    background-color: rgba(128, 128, 128, 0.450);
}

#WindButton{
    background-color: hsla(125, 81%, 40%, 0.247);
}

#HybridButton{
    background-color: hsla(192, 82%, 40%, 0.247);
}

.fa{
    color: #000;
}


@media screen and (max-width:1000px) {

    .logo{
        width: 20vw;
    }

    .energyphoto{
        width: 40%;
        height: 30%;
    }

    .catergory1{
        border-top: 1px solid black ;
        border-bottom: 1px solid black;
        box-shadow: none;
    }

    .abouthead{
        font-size: 30px;
    }

    .team{
        height: 130vh;
    }

    .mission{
        height: 140vh;
    }

    .missionheading{
        font-size: 18px;
    }

    .missioninfo{
        font-size: 22px;
    }

    .visionhead{
        font-size: 20px;
    }

    .visionquote{
        font-size: 27px;
    }



    .aboutimage{
        width: 40%;
        height: 40%;
    }

    .aboutinfo{
        font-size: 12px;
    }

    .about{
        height: 100vh;
    }

    .team{
        height: 75vh;
    }

    .teamheading{
        font-size: 40px;
    }

    .partnerimage{
        height: 30%;
        width: 100%;
        margin: 0;
    }

    .partnername{
        font-size: 20px;
    }

    .partnerrole{
        font-size: 13px;
    }

    

    .Energyintro{
        display: flex;
        flex-direction: column;
    }

    .energycategories{
        height: 80%;
        width: 100%;
    }

    .catphoto{
        height: 50%;
    }

    .description{
        font-size: 12px;
    }

    .syninfo{
        margin: 20px;
    }

    .card{
        margin: 20px;
        width: 40vw;
    }
    
}


@media screen and (max-width:700px) {

    .serviceimage{
        width: 80%;
    }

    .energyheading{
        font-size: 35px;
        padding: 20px 0px 0px 30px;

        height: 50vh;
    }
    
}

@media screen and (max-width:550px) {

    .catphoto{
        height: 40%;
        width: 15%;
    }
    
    .divOne{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .divTwo{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .card{
        width: 60vw;
    }
}

