*{
    margin: 0;
    padding: 0;
}

.navLinks{
    width: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.synHead{
    margin: 20px 0px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    color: red;
}

.syninfo{
    font-size: 12px;
}

.Energyintro{
    margin: 30px 0px;
    display: flex;
    justify-content: space-around;
    height: 150vh;
    align-items: center;
}

.energyphoto{
    width: 30%;
    height: 40%;
    background-image: url("./images/energy.tif");
    background-repeat: no-repeat;
    background-size: 90% 90%;
}


.energycategories{
    width: 40%;
    height: 100%;
}


.catergory1{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 25%;
    margin: 60px 0px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.catinfo h4{
    color: red;
}

.catergory1:hover{
    background-color: hsla(0, 81%, 40%, 0.3);
}

.catphoto{
    width: 12%;
    height: 20%;
    background-size: 100% 100%;   
}

#windSvg{
    background-image: url("./images/windenergysvg.png");
}

#solarSvg{
    background-image: url("./images/solarenergysvg.png");
}

#electricSvg{
    background-image: url("./images/electricenergysvg.png");
}

.catinfo{
    width: 70%;
}

.description{
    font-size: 15px;
}

.synCategories{
    margin: 50px 0px;
}

.divOne{
    display: flex;
    justify-content: space-around;
    margin: 80px 0px ;
}

.divTwo{
    display: flex;
    justify-content: space-around;
}

.card{
    width: 25vw;
    cursor: pointer;
    border: 3px solid black;
    box-shadow: 0px 3px 4px 4px rgba(7, 6, 6, 0.3);
}


.card-img-top{
    height: 22rem;
    min-width: 10rem;
    border: 2px solid black;
}



.card:hover {
    transform: scale(1.02);
    box-shadow: 0px 3px 4px 4px rgba(7, 6, 6, 0.7);
    transition: all 0.5s ease-in-out;
  }

.card:hover{
    background-color: hsla(125, 81%, 40%, 0.447);
}
  

.card-body h5{
    color: red;
    text-align: center;
}


.knowButton{
    text-align: center;
    margin-top: 10px;
}

.knowButton button{
    font-size: 13px;
}

#transButton{
    background-color: hsla(0, 81%, 40%, 0.3);
}

#solarButton{
    background-color: rgba(128, 128, 128, 0.450);
}

#WindButton{
    background-color: hsla(125, 81%, 40%, 0.247);
}

#HybridButton{
    background-color: hsla(192, 82%, 40%, 0.247);
}

.fa{
    color: #000;
}


@media screen and (max-width:1000px) {

    .logo{
        width: 20vw;
    }

    .energyphoto{
        width: 40%;
        height: 30%;
    }

    .catergory1{
        border-top: 1px solid black ;
        border-bottom: 1px solid black;
        box-shadow: none;
    }

    .Energyintro{
        display: flex;
        flex-direction: column;
    }

    .energycategories{
        height: 80%;
        width: 100%;
    }

    .catphoto{
        height: 50%;
    }

    .description{
        font-size: 12px;
    }

    .syninfo{
        margin: 20px;
    }

    .card{
        margin: 20px;
        width: 40vw;
    }
    
}

@media screen and (max-width:550px) {

    .catphoto{
        height: 40%;
        width: 15%;
    }
    
    .divOne{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .divTwo{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .card{
        width: 60vw;
    }
}