*{
    margin: 0;
    padding: 0;
}

.nav{
    background-color: hsla(0,0%,57.6%,.1);
    backdrop-filter: blur(20px);
    box-shadow: 0px 0px 5px 0px #000;
    font-size: 1.1rem;
}

.logo{
    width: 12vw;
    height: 10vh;
    background-image: url("./images/logo.enc");
    background-size: 100% 100%;
}

.nav-link{
    color: #000;
}

.mainNav{
    margin-left: 70px;
}

.dropdown{
    z-index: 1;
}

.mainul{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navbar-toggler{
    background-image: url("./images/menubar.png");
    background-size: 100% 100%;
}



.mainContainer{
    background-color: black;    
    color: white;
    background-image: url("./images/solarenergy.avif");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.innerDiv{
    height: 100%;
    background-color: rgba(0, 0, 0, 0.685);
}

.synHead{
    text-align: center;
    padding: 10px 0px 10px 0px;
}

.syninfo{
    margin: 15px 50px 0px 50px;
    /* letter-spacing: 0.5px; */
    font-size: 1rem;
}

.photoDiv{
    display: flex;
    justify-content: space-around;
}



.Synphoto1{
    background-color: aqua;
    width: 20vw;
    height: 30vh;
    margin: 0px 20px;
    background-image: url("./images/synergy1.avif");
    background-size: 100% 100%;
}
.Synphoto2{
    background-color: aqua;
    width: 20vw;
    height: 30vh;
    margin: 0px 20px;
    background-image: url("./images/synergy1.avif");
    background-size: 100% 100%;
    }



    @media screen and (max-width:600px) {
        .logodiv{
            width: 40vw;
            margin: 0;
        }

        .mainNav{
            margin: 0;
        }
        
        .sliderClass{
            height: 20vh;
    
        }
    
        .sliderButton{
            height: 60%;
        }
    
        .carousel-item{
            height: 20vh;
        }
    
    
    }
    